body {
  background-image: url("../images/background/background.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff;
  font-family: "Rammetto One";
  font-size: 22px;
}

/********** SCREENS **********/

#start-screen {
  display: block;
}

#pre-game-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

#game-screen {
  display: none;
}

#end-screen {
  display: none;
}

/********** START SCREEN **********/

.main-waldo {
  width: 35%;
  position: fixed;
  left: 0;
  bottom: 20px;
}

.speech-bubble-container {
  position: absolute; /* Position the bubble absolutely within its relative parent */
  top: 30%; /* Adjust this value to move the bubble up or down */
  left: 50%; /* Start at 50% from the left */
  transform: translate(
    -50%,
    -50%
  ); /* Center the bubble horizontally and move it up */
  width: 60vw;
  height: 60vh;
  background-image: url("/./images/waldo/speechbubble.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble-text {
  padding: 10em 11em 12em;
  text-align: center;
  font-size: calc(1vw + 1vh); /* Adjust the size based on the viewport */
  color: #000;
}

.start-game-container {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 40%;
  font-size: calc(1.2vw + 1.2vh);
}

input[type="text"] {
  width: 40%;
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: calc(0.6vw + 0.6vh);
  font-family: "Rammetto One";
  color: #18af7d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: adds shadow */
  outline: none; /* Removes the default focus highlight */
}

/********** PRE-GAME SCREEN **********/

.giphy-embed {
  margin-top: 55px;
}

.current-round-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7px 20px;
  background-color: #721ef3;
  margin-bottom: 25px;
}

#between-screen-p {
  text-align: center;
  padding: 0 120px;
}

#current-round {
  color: #ffffff;
}

#search-image-container {
  position: relative;
  right: 0;
  top: 0;
  height: 100%;
  width: 54%;
  float: right;
}

/********** GAME SCREEN **********/

.search-picture {
  position: relative;
  height: 100%;
  max-width: 100%;
}

.game-waldo {
  position: absolute;
  left: 0;
  top: 0;
}

.game-timer {
  position: absolute;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.timerview {
  font-size: 3vh;
}

/********** END SCREEN **********/

#end-container {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 40%;
  font-size: calc(1.2vw + 1.2vh);
  display: block;
  text-align: center;
}

#win-announcment {
  font-size: 6vh;
}

/********** BUTTON STYLES **********/

#start-playing-button {
  font-size: calc(1vw + 1vh);
  cursor: pointer;
  font-family: "Rammetto One";
  background-color: #721ef3;
  color: white;
  border: #ffffff solid;
  border-radius: 10px;
  padding: 10px 80px;
  margin-top: 40px;
}

#start-playing-button:hover {
  background-color: #b08af8;
}

#restart-game {
  font-size: calc(1vw + 1vh);
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
  font-family: "Rammetto One";
  background-color: #721ef3;
  color: white;
  border: #ffffff solid;
  border-radius: 10px;
  padding: 10px 80px;
  margin-bottom: 40px;
}

#restart-game:hover {
  background-color: #b08af8;
}

#start-button {
  padding: 10px 70px;
  font-size: calc(1vw + 1vh);
  cursor: pointer;
  font-family: "Rammetto One";
  background-color: #721ef3;
  color: white;
  border: #ffffff solid;
  border-radius: 10px;
}

#start-button:hover {
  background-color: #b08af8;
}
